<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Clubs.club.mapper.ClubMapper">

    <sql id="clubColumns">
        c.id           AS club_id,
  c.title        AS club_title,
  c.description  AS club_description,
  m.username     AS club_owner_user_name
    </sql>

    <select id="getClubByIdWithActiveStatus" parameterType="map" resultType="com.example.Clubs.club.dto.response.ClubResponse">
        SELECT
        <include refid="clubColumns"/>
        FROM club c
        INNER JOIN member m
        ON c.owner_id = m.id
        WHERE 1=1
        AND c.id = #{clubId}
        <if test="isActive != null">
            AND c.is_active = #{isActive}
        </if>
    </select>

    <select id="getClubByOwnerIdWithActiveStatus" parameterType="map" resultType="com.example.Clubs.club.dto.response.ClubResponse">
        SELECT
        <include refid="clubColumns"/>
        FROM club c
        INNER JOIN member m
        ON c.owner_id = m.id
        WHERE 1=1
        AND c.owner_id = #{ownerId}
        <if test="isActive != null">
            AND c.is_active = #{isActive}
        </if>
    </select>

</mapper>